{% extends 'base.html' %}
{% block title %} Home{% endblock title %} 
{% block body %}

    <div class="container my-3">
        <h2>Update user_info</h2>
        <form action="/update/{{user_info.slno}}" method="POST">
            <div class="mb-3">
              <label for="title" class="form-label">user_info Title</label>
              <input type="text" class="form-control" name="title" id="title" value="{{user_info.title}}" aria-describedby="emailHelp"> 
            </div>
            <div class="mb-3">
              <label for="desc" class="form-label">user_info Description</label>
              <input type="text" class="form-control" value="{{user_info.desc}}" name="desc" id="desc">
            </div>
            
            <button type="submit" class="btn btn-dark">Update</button>
          </form>
    </div>
   
    

  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>



{% endblock body %}
